@charset "utf-8";

img,
object,
embed,
video {
    max-width: 100%;
}

.ie6 img {
    width: 100%;
}

.fluid {
    clear: both;
    margin-left: 0;
    width: 100%;
    display: block;
}

@media screen and (max-width: 1560px) {
    .header,
    .thin-header {
        font-size: 65px;
    }
    .header-back {
        height: 170px;
    }
    .mbdes {
        font-size: 45px;
        
        /*change everywhere!*/
        height: 85px;
        margin-top: 40px;
        overflow: hidden;
    }
    .story {
        padding-top: 50px;
    }
    .header-back {
        margin-top: 50px
    }
    #about-me-text {
        font-size: 25px;
        padding-top: 85px;
    }
    .clearfix {
    width: 100%;
    margin: 0 auto;
    }
}
@media screen and (max-width: 1234px) {
    .header,
    .thin-header {
        font-size: 50px;
    }
    .header-back {
        height: 160px;
    }
    .mbdes {
        font-size: 40px;
        height: 75px;
        margin-top: 35px;
    }
    .category-work {
        width: 50%;
    }
    .category-work.motion {
        width: 100%;
    }
    .topNav {
        font-size: 25px;
    }
    ul.nav-ul {
        height: 41px;
    }
    li.nav-item {
    }
    .main-icon {
        height: 28px;
        margin-top: -8px;
    }
    #about-me-text {
        font-size: 20px;
        padding-top: 85px;
    }
    .about {} .type-of-contact {
        width: 90%;
    }
    button.btn{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 948px) {
    .header,
    .thin-header {
        font-size: 40px;
    }
    .header-back {
        height: 150px;
    }
    .mbdes {
        font-size: 35px;
        height: 65px;
        margin-top: 30px;
    }
    .category-work {
        width: 50%;
    }
    .category-work.motion {
        width: 100%;
    }
    .cat-name {
        font-size: 27px;
        top: -45px;
    }
}
@media screen and (max-width: 768px) {
    .header,
    .thin-header {
        font-size: 24px;
    }
    .header-back {
        height: 100px;
    }
    .category {
        font-size: 40px;
    }
    .mbdes {
        font-size: 30px;
        height: 55px;
        margin-top: 0px;
    }
    .category-work {
        width: 100%;
    }
    .category-work.motion {
        width: 100%;
    }
    .cat-name {
        font-size: 30px;
        top: -50px;
    }
    .topNav {
        font-size: 15px;
    }
    ul.nav-ul {
        height: 28px;
    }
    li.nav-item {
        padding-right: 5px;
        padding-left: 4px;
    }
    .main-icon {
        height: 15px;
        /* margin-top: -4px; */
    }
    #my-photo {
        width: 40%;
        padding-left: 30%;
        padding-right: 30%;
        /* padding-bottom: 5%; */
        padding-top: 0px;
        margin-bottom: 40px;
    }
    #about-me-text {
        font-size: 20px;
        padding-top: 35px;
        padding-bottom: 35px;
        width: 90%;
        padding-right: 5%;
        line-height: 22px;
    }
    .photo {
        border-width: 5px;
    }
    .interested {
        font-size: 25px;
    }
    .type-of-contact {
        width: 90%;
        margin-left: 5%;
        padding-top: 35px;
    }
    form input,
    textarea {
        font-size: 18px;
        padding: 6px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    form textarea {
        height: 150px;
        max-height: 150px;
        width: calc(100% - 6px - 15px);
    }
    button.btn {
        width: 113PX;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 0;
        border-width: 0;
        margin-bottom: 20px;
    }
    .social {
        height: 70px;
        color: white;
        font-size: 30px;
        /* padding-top: 20px */
    }
    .img-soc {
        height: 60px;
        content: "";
    }
    .footer-text {
        font-size: 30px;
    }
    .contact-header {
        font-size: 30px;
    }
}
@media screen and (max-width: 440px) {
    .social {
        height: 65px;
        color: white;
        font-size: 20px;
        /* padding-top: 25px */
    }
    .img-soc {
        margin-right: 10%;
        margin-left: 25px;
    }
    .footer-text {
        font-size: 25px;
    }
}
@media screen and (max-width: 319px) {
    .header,
    .thin-header {
        font-size: 15px;
    }
    .header-back {
        height: 70px;
    }
    .category {
        font-size: 30px;
    }
    .mbdes {
        font-size: 20px;
        padding-left: 15px;
        height: 38px;
        margin-top: 10px;
    }
    .category-work {
        width: 100%;
    }
    .category-work.motion {
        width: 100%;
    }
    .cat-name {
        font-size: 20px;
        top: -35px;
    }
    .topNav {
        font-size: 14px;
    }
    ul.nav-ul {
        height: 24px;
    }
    li.nav-item {
        padding-right: 5px;
        padding-left: 4px;
    }
    #top-btn-img {
        height: 15px;
        margin-top: -4px;
    }
    #about-me-text {
        font-size: 15px;
        padding-top: 35px;
        padding-bottom: 35px;
        width: 90%;
        padding-right: 5%;
        line-height: 16px;
        text-align: center;
    }
    .interested {
        font-size: 19px;
        line-height: 22px;
    }
    .social {
        height: 65px;
        color: white;
        font-size: 18px;
    }
    .img-soc {
        margin-right: 5%;
        margin-left: 22px;
    }
    .footer-text {
        font-size: 20px;
    }
    .contact-header {
        font-size: 27px;
    }
}