

.input_box {margin: 5px;}


body {
    width: 400px;
    margin: 0 auto;
    background-color: rgba(245, 245, 220, 0.21);
    margin-top: 4em;
}

input.radio_check {
    margin: 5px;
}

#text {
    max-height: 250px;
    min-height: 100px;
    max-width: 400px;
}

#result {min-height: 100px;max-width: 400px;}

result#result {
    margin-top: 2em;
}

div#result {
    margin-top: 2em;
    margin-left: 5px;
    width: 400px;
}

div#counter {
    margin-top: 10px;
    margin-left: 5px;
    clear: right;
    border-radius: 3px;
}

#key {
    float: left;
    width: 250px;
    clear: both;
}

input[type="button"] {
}


div#warning {
    clear: both;
    margin-top: 5px;
    margin-bottom: 0px;
}

div#counter {margin-bottom: 15px;float: left;}

span.label.label-default {
}

.form-control {
    margin-top: 2px;
}

span.label {}

textarea#message {
    height: 100px;
    max-width: 100%;
}

textarea#out {
    height: 100px;
    max-width: 100%;
}

div#but {
    clear: both;
}

input#multipl {width: 69px;clear: both;/* margin-top: 17px; */text-align: center;}

input#priras {
    width: 76px;
    clear: both;
    /* margin-top: 17px; */
    text-align: center;
}

input#count {
    width: 71px;
    clear: both;
    /* margin-top: 17px; */
    text-align: center;
}

input#start {
    width: 68px;
    clear: both;
    /* margin-top: 17px; */
    text-align: center;
}

.param {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

input#razd {
    width: 80px;
    clear: both;
    text-align: center;
    height: 34px;
}

.input_hold {
    display: inline-block;
    vertical-align: top;
    margin-top: -3px;
}

button.btn.btn-dange

button.btn.btn-danger {}

button.btn.btn-danger {
    Height: 52px;
}